<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password rest request</title>
</head>
<body>
    <h1>Password reset request</h1>
    <a href="http://localhost:5173/resetpassword/<%=token%>">Reset Password</a>
</body>
</html>